@(message: String)

@main("Welcome to Play") {
        <section>
            <h1 class="introMessage"></h1>
            <div>
                <p class="para"></p>
            </div>
        </section>
        <section style="padding-bottom: 140px">
            <div>
                <div class="box" id="player1">
                    <h1 class="guide" id="steps"> <i class="fas fa-key"></i>  </h1>

                </div>

                <div class="box" id="rules">
                    <h1 class="guide"> <i class="fas fa-pen-fancy"></i> </h1>


                </div>
            </div>
            <center>
                <button class="btn"></button> </a>
            </center>
        </section>




}
